@media (max-width:1320px) {
    .container{
        width: 100%;
        padding: 80px 0;
    }
    .header{
        padding: 16px 12px;
        .container{
            padding: 0;
        }
    } 
    .survice, .co-branding, .recommend, .footer{
        padding: 0 12px;
    }
}
@media (max-width:992px) {
    .classic{
        ul{
            li{
                h3{
                    font-size: 32px;
                    line-height: 48px;
                }
            }
        }
    }
}
@media(max-width:768px){
    .container{
        width: 100%;
    }
    .header{
        padding: 16px 36px;
        .container{
            .menu{
                li{
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        
    }
    .banner{
        background: url(../images/home-header-sm.png) center;
        background-size: cover;
        height: 100vh;
        .content{
            margin-right: 37px;
        }
    }
    .survice{
        .container{
            ul{
                flex-wrap: wrap;
                // justify-content: center;
                justify-content: center;
                gap: 24px;
                li{
                    width: 45%;
                    margin-right: 0;
                }
            }
        }
    }
    .classic{
        ul{
            flex-direction: column;
            align-items: center;
            li{
                margin-bottom: 24px;
                width: 100%;
                h3{
                    font-size: 48px;
                    line-height: 72px;
                }
            }
        }
    }
    .co-branding{
        background: url(../images/index-bg-sm.png) center;
        background-size: cover;
        ul{
            flex-direction: column;
            align-items: center;
            li{
                width: 90%;
                &:first-child{
                    margin-bottom: 24px;
                }
            }
        }
    }
    .recommend{
        ul{
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;
            li{
                margin-right: 0;
                width: 44%;
            }
        }
    }
    .contact{
        .container{
            width: 75%;
            h2{
                margin-bottom: 24px;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
            }
            form{
                ul{
                    li{
                        h3{
                            margin-bottom: 14px;
                        }
                        input[type=text],input[type=email],textarea{
                            width: 95.2%;
                        }
                    }
                }
                input[type=submit]{
                    padding: 16px 23.6%;
                }
            }
        }
    }
    .footer{
        padding: 0;
        .container{
            width: 90%;
            padding-top: 56.02px;
            padding-bottom: 40px;
            .content{
                .text{
                    width: 62.5%;
                    .weblink{
                        margin-bottom: 31.98px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        a{
                            margin-right: 0;
                        }
                    }
                }
                .icon{
                    width: 22%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li{
                        margin-left: 0;
                        img{
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:710px) {
    h2{
        font-size: 36px;
        line-height: 54px;
    }
    .header{
        padding: 16px 10px;
        .container{
            text-align: left;
            .menu{
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                flex-direction: column;
                background: #AA0601;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: .3s;
                li{
                    width: 100%;
                    border-top: 2px solid #fff;
                    padding: 5px 10px;
                    a{
                        font-size: 16px;
                    }
                }
                &.action{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
            }
            .burger-menu{
                display: flex;
                font-size: 40px;
                margin-right: 10px;
            }
        }
        
    }
    .banner{
        .content{
            span{
                font-size: 22px;
            }
            h1{
                font-size: 50px;
            }
        }
    }
    .footer{
        .container{
            .content{
                .text{
                    .phone-mail{
                        a{
                            font-size: 26px;
                            line-height:40px;
                        }
                    }
                }
                .icon{
                    width: 29%;
                    li{
                        img{
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
    
}

@media(max-width:376px){
    h2{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    .container{
        width: 100%;
        padding: 40px 0;
    }
    

    .banner{
        height: 396px;
        width: 100%;
        background: url(../images/home-header-sm.png) center;
        background-size: cover;
        .content{
            margin-right: 14px;
            span{
                font-size: 16px;
                line-height: 24px;
            }
            h1{
                font-size: 24px;
                line-height: 36px;
            }
        }
    }


    .survice{
        .container{
            h2{
                margin-bottom: 32.08px;
            }
            ul{
                li{
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 32.33px;
                }
            }
        }
    }

    .co-branding{
        background: url(../images/index-bg-md.png) center;
        background-size: cover;
        h2{
            margin-bottom: 24px;
        }
    }

    .recommend{
        ul{
            gap: 16px;
            li{
                width: 93.8%;
            }
        }
    }

    .contact{
        .container{
            width: 93%;
            .text{
                font-size: 16px;
                line-height: 24px;
            }
            form{
                ul{
                    li{
                        input[type=text],input[type=email],textarea{
                          width: 92%;   
                        }
                        &:last-child{
                            align-items: flex-start;
                        }
                    }
                }
                input[type=submit]{
                    padding: 16px 0;
                    width: 100%;
                }
            }
        }
    }

    .footer{
        .container{
            width: 92.6%;
            padding: 24px 0;
            .content{
                padding-bottom: 24px;
                margin-bottom: 16px;
                .text{
                    padding-top: 0 ;
                    .weblink{
                        display: none;
                    }
                    .phone,.mail{
                        span{
                            font-size: 18px;
                        }
                        a{
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
                .icon{
                    width: 26%;
                    li{
                        img{
                            width: 24px;
                        }
                    }
                }
            }
            .copyright{
                flex-direction: column;
                text-align: left;
                .pact{
                    display: flex;
                    flex-direction: column;
                    a{
                        margin-left: 0;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    
}