/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif; }

img {
  vertical-align: middle; }

a {
  text-decoration: none; }

h2 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  font-weight: 700;
  margin-bottom: 48px; }

.container {
  width: 1296px;
  margin: 0 auto;
  padding: 80px 12px;
  text-align: center; }

@media (max-width: 1320px) {
  .container {
    width: 100%;
    padding: 80px 0; } }

@media (max-width: 710px) {
  h2 {
    font-size: 36px;
    line-height: 54px; } }

@media (max-width: 376px) {
  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px; }
  .container {
    padding: 40px 0; } }

.header {
  background: #AA0601;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 12px; }
  .header .logo {
    width: 80px; }
    .header .logo img {
      width: 100%; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu li {
      margin-right: 64px; }
      .header .menu li:last-child {
        margin-right: 0; }
  .header a {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400; }
  .header .burger-menu {
    color: #fff;
    cursor: pointer;
    display: none; }

.footer {
  background: #AA0601;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .container {
    padding-top: 60.02px;
    padding-bottom: 32px; }
    .footer .container .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #fff;
      padding-bottom: 32px;
      margin-bottom: 32px; }
  .footer .text {
    text-align: left;
    padding-top: 12px; }
  .footer .weblink {
    margin-bottom: 24px; }
    .footer .weblink a {
      margin-right: 48px; }
      .footer .weblink a:last-child {
        margin-right: 0; }
  .footer .phone-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .phone-mail span {
      font-size: 36px; }
    .footer .phone-mail a {
      font-size: 36px;
      line-height: 54px;
      margin-left: 20px; }
  .footer .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .icon li {
      margin-left: 32px; }
      .footer .icon li:first-child {
        margin-left: 0; }
    .footer .icon img {
      width: 48px;
      height: auto; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .copyright p {
      line-height: 24px; }
    .footer .copyright .pact a {
      font-size: 14px;
      line-height: 21px;
      margin-left: 48px; }

@media (max-width: 1320px) {
  .header {
    padding: 16px 12px; }
    .header .container {
      padding: 0; }
  .footer {
    padding: 0 12px; } }

@media (max-width: 768px) {
  .header {
    padding: 16px 36px; }
  .footer {
    padding: 0; }
    .footer .container {
      width: 90%;
      padding-top: 56.02px;
      padding-bottom: 40px; }
    .footer .text {
      width: 62.5%; }
    .footer .weblink {
      margin-bottom: 31.98px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .weblink a {
        margin-right: 0; }
    .footer .icon {
      width: 22%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer .icon li {
        margin-left: 0; }
      .footer .icon img {
        width: 40px; } }

@media (max-width: 710px) {
  .header {
    padding: 16px 10px; }
    .header .container {
      text-align: left; }
    .header .menu {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #AA0601;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .menu li {
        width: 100%;
        border-top: 2px solid #fff;
        padding: 5px 10px; }
      .header .menu.action {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .header a {
      font-size: 16px; }
    .header .burger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 40px;
      margin-right: 10px; }
  .footer .text .phone-mail a {
    font-size: 26px;
    line-height: 40px; }
  .footer .icon {
    width: 29%; }
    .footer .icon img {
      width: 32px; } }

@media (max-width: 376px) {
  .footer .container {
    width: 92.6%;
    padding: 24px 0; }
    .footer .container .content {
      padding-bottom: 24px;
      margin-bottom: 16px; }
  .footer .text {
    padding-top: 0; }
  .footer .weblink {
    display: none; }
  .footer .phone span, .footer .mail span {
    font-size: 18px; }
  .footer .phone a, .footer .mail a {
    font-size: 16px;
    line-height: 24px; }
  .footer .icon {
    width: 26%; }
    .footer .icon img {
      width: 24px; }
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left; }
    .footer .copyright .pact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .copyright .pact a {
        margin-left: 0;
        margin-top: 8px; } }

.banner {
  background: url(../images/home-header.png) center;
  background-size: cover;
  width: 100%;
  height: 787px;
  margin-top: 80px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .content {
    margin-right: 16%;
    color: #650300;
    text-align: right; }
  .banner span {
    font-size: 36px;
    line-height: 54px; }
  .banner h1 {
    font-size: 64px;
    line-height: 96px;
    font-weight: 700;
    margin-bottom: 4px; }
  .banner a {
    padding: 6px 12px;
    background: #AA0601;
    color: #fff;
    font-size: 20px;
    line-height: 30px; }

.survice {
  background: #FBF2F2; }
  .survice h2 {
    margin-bottom: 32.33px; }
  .survice ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .survice ul li {
      margin-right: 24px;
      width: 25%; }
      .survice ul li:last-child {
        margin-right: 0; }
  .survice img {
    width: 25%;
    height: auto;
    margin-bottom: 24.08px; }
  .survice h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #650300; }
  .survice p {
    line-height: 24px;
    text-align: left;
    width: 100%; }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .classic ul li {
    width: 33.33%; }

.classic img {
  width: 96.3%;
  height: auto;
  margin-bottom: 8px; }

.classic h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 900;
  font-style: italic;
  color: #AA0601; }

.co-branding {
  background: url(../images/index-bg.png) center;
  background-size: cover; }
  .co-branding h2 {
    color: #fff; }
  .co-branding h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    font-style: italic;
    color: #AA0601; }
  .co-branding ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .co-branding ul li {
      width: 648px; }
  .co-branding img {
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover; }
  .co-branding .title {
    background: #fff;
    padding: 8px 0; }

.recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .recommend ul li {
    width: 25%;
    margin-right: 24px;
    border: 1px solid #DEE2E6;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029; }
    .recommend ul li:last-child {
      margin-right: 0; }

.recommend img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.recommend .text {
  height: 173px;
  text-align: left;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recommend .name {
  padding-bottom: 8px;
  font-weight: 500; }

.recommend .time-stamp p {
  font-size: 14px;
  line-height: 21px;
  color: #707070; }

.contact {
  background: #FBF2F2; }
  .contact .container {
    width: 626px; }
  .contact .text {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .contact ul {
    margin-bottom: 48px; }
    .contact ul li {
      margin-bottom: 22px;
      text-align: left; }
      .contact ul li:last-child {
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
  .contact p {
    margin-left: 4px;
    line-height: 24px; }
  .contact h3 {
    line-height: 24px;
    margin-bottom: 8px; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 598px;
    line-height: 24px;
    padding: 6px 12px;
    background: #FBF2F2;
    border: 2px solid #000;
    outline: none;
    resize: none; }
    .contact input[type=text]:focus, .contact input[type=email]:focus, .contact textarea:focus {
      background: #fff; }
      .contact input[type=text]:focus::-webkit-input-placeholder, .contact input[type=email]:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::-moz-placeholder, .contact input[type=email]:focus::-moz-placeholder, .contact textarea:focus::-moz-placeholder {
        color: #fff; }
      .contact input[type=text]:focus:-ms-input-placeholder, .contact input[type=email]:focus:-ms-input-placeholder, .contact textarea:focus:-ms-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::-ms-input-placeholder, .contact input[type=email]:focus::-ms-input-placeholder, .contact textarea:focus::-ms-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::placeholder, .contact input[type=email]:focus::placeholder, .contact textarea:focus::placeholder {
        color: #fff; }
  .contact input[type=submit] {
    border-radius: 0;
    border: none;
    padding: 16px 176px;
    background: #AA0601;
    line-height: 24px;
    color: #fff;
    cursor: pointer; }

@media (max-width: 1320px) {
  .survice, .co-branding, .recommend {
    padding: 0 12px; } }

@media (max-width: 992px) {
  .classic h3 {
    font-size: 32px;
    line-height: 48px; } }

@media (max-width: 768px) {
  .banner {
    background: url(../images/home-header-sm.png) center;
    background-size: cover;
    height: 100vh; }
    .banner .content {
      margin-right: 37px; }
  .survice ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px; }
    .survice ul li {
      width: 45%;
      margin-right: 0; }
  .classic ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classic ul li {
      margin-bottom: 24px;
      width: 100%; }
  .classic h3 {
    font-size: 48px;
    line-height: 72px; }
  .co-branding {
    background: url(../images/index-bg-sm.png) center;
    background-size: cover; }
    .co-branding ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .co-branding ul li {
        width: 90%; }
        .co-branding ul li:first-child {
          margin-bottom: 24px; }
  .recommend ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .recommend ul li {
      margin-right: 0;
      width: 44%; }
  .contact .container {
    width: 75%; }
  .contact h2 {
    margin-bottom: 24px; }
  .contact h3 {
    margin-bottom: 14px; }
  .contact .text {
    font-size: 16px;
    line-height: 24px; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 95.2%; }
  .contact input[type=submit] {
    padding: 16px 23.6%; } }

@media (max-width: 710px) {
  .banner span {
    font-size: 22px; }
  .banner h1 {
    font-size: 50px; } }

@media (max-width: 376px) {
  .banner {
    height: 396px;
    width: 100%;
    background: url(../images/home-header-sm.png) center;
    background-size: cover; }
    .banner .content {
      margin-right: 14px; }
    .banner span {
      font-size: 16px;
      line-height: 24px; }
    .banner h1 {
      font-size: 24px;
      line-height: 36px; }
  .survice h2 {
    margin-bottom: 32.08px; }
  .survice ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32.33px; }
  .co-branding {
    background: url(../images/index-bg-md.png) center;
    background-size: cover; }
    .co-branding h2 {
      margin-bottom: 24px; }
  .recommend ul {
    gap: 16px; }
    .recommend ul li {
      width: 93.8%; }
  .contact .container {
    width: 93%; }
  .contact .text {
    font-size: 16px;
    line-height: 24px; }
  .contact ul li:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 92%; }
  .contact input[type=submit] {
    padding: 16px 0;
    width: 100%; } }

/*# sourceMappingURL=all.css.map */
