/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

h2 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  font-weight: 700;
  margin-bottom: 48px; }

.container {
  width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center; }

@media (max-width: 1320px) {
  .container {
    width: 100%;
    padding: 0; } }

@media (max-width: 710px) {
  h2 {
    font-size: 36px;
    line-height: 54px; } }

@media (max-width: 376px) {
  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px; } }

.header {
  background: #AA0601;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 12px; }
  .header .logo {
    width: 80px; }
    .header .logo img {
      width: 100%; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu li {
      margin-right: 64px;
      cursor: pointer; }
      .header .menu li:last-child {
        margin-right: 0; }
    .header .menu a:hover {
      border-bottom: 4px solid #fff; }
  .header a {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 25px 0; }
  .header .burger-menu {
    color: #fff;
    cursor: pointer;
    display: none; }

.footer {
  background: #AA0601;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .container {
    padding-top: 60.02px;
    padding-bottom: 32px; }
    .footer .container .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #fff;
      padding-bottom: 32px;
      margin-bottom: 32px; }
  .footer .text {
    text-align: left;
    padding-top: 12px; }
  .footer .weblink {
    margin-bottom: 24px; }
    .footer .weblink a {
      margin-right: 48px; }
      .footer .weblink a:last-child {
        margin-right: 0; }
      .footer .weblink a:hover {
        border-bottom: 1px solid #fff; }
  .footer .phone-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .phone-mail span {
      font-size: 36px; }
    .footer .phone-mail a {
      font-size: 36px;
      line-height: 54px;
      margin-left: 20px; }
  .footer .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .icon li {
      margin-left: 32px; }
      .footer .icon li:first-child {
        margin-left: 0; }
    .footer .icon img {
      width: 48px;
      height: auto; }
      .footer .icon img:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .copyright p {
      line-height: 24px; }
    .footer .copyright .pact a {
      font-size: 14px;
      line-height: 21px;
      margin-left: 48px; }
      .footer .copyright .pact a:hover {
        border-bottom: 1px solid #fff; }

@media (max-width: 1320px) {
  .header {
    padding: 16px 12px; }
    .header .container {
      padding: 0; }
  .footer {
    padding: 0 12px; } }

@media (max-width: 768px) {
  .header {
    padding: 16px 36px; }
  .footer {
    padding: 0; }
    .footer .container {
      width: 90%;
      padding-top: 56.02px;
      padding-bottom: 40px; }
    .footer .text {
      width: 62.5%; }
    .footer .weblink {
      margin-bottom: 31.98px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .weblink a {
        margin-right: 0; }
    .footer .icon {
      width: 22%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer .icon li {
        margin-left: 0; }
      .footer .icon img {
        width: 40px; } }

@media (max-width: 710px) {
  .header {
    padding: 16px 10px; }
    .header .container {
      text-align: left; }
    .header .menu {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #AA0601;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .menu li {
        width: 100%;
        border-top: 2px solid #fff;
        padding: 5px 10px; }
        .header .menu li:hover {
          background: rgba(255, 255, 255, 0.3); }
      .header .menu.action {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .header a {
      font-size: 16px; }
      .header a:hover {
        border-bottom: none; }
    .header .burger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 40px;
      margin-right: 10px; }
  .footer .text .phone-mail a {
    font-size: 26px;
    line-height: 40px; }
  .footer .icon {
    width: 29%; }
    .footer .icon img {
      width: 32px; } }

@media (max-width: 376px) {
  .footer .container {
    width: 92.6%;
    padding: 24px 0; }
    .footer .container .content {
      padding-bottom: 24px;
      margin-bottom: 16px; }
  .footer .text {
    padding-top: 0; }
  .footer .weblink {
    display: none; }
  .footer .phone span, .footer .mail span {
    font-size: 18px; }
  .footer .phone a, .footer .mail a {
    font-size: 16px;
    line-height: 24px; }
  .footer .icon {
    width: 26%; }
    .footer .icon img {
      width: 24px; }
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left; }
    .footer .copyright .pact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .copyright .pact a {
        margin-left: 0;
        margin-top: 8px; } }

.banner {
  background: url(../images/home-header.png) center;
  background-size: cover;
  width: 100%;
  height: 787px;
  margin-top: 80px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .content {
    margin-right: 16%;
    color: #650300;
    text-align: right; }
  .banner span {
    font-size: 36px;
    line-height: 54px; }
  .banner h1 {
    font-size: 64px;
    line-height: 96px;
    font-weight: 700;
    margin-bottom: 4px; }
  .banner a {
    padding: 6px 12px;
    background: #AA0601;
    color: #fff;
    font-size: 20px;
    line-height: 30px; }

.survice {
  background: #FBF2F2;
  padding: 80px 0; }
  .survice h2 {
    margin-bottom: 32.33px; }
  .survice ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .survice ul li {
      margin-right: 24px;
      width: 25%; }
      .survice ul li:last-child {
        margin-right: 0; }
  .survice img {
    width: 25%;
    height: auto;
    margin-bottom: 24.08px; }
  .survice h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #650300; }
  .survice p {
    line-height: 24px;
    text-align: left;
    width: 100%; }

.classic {
  padding: 80px 0; }
  .classic ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .classic ul li {
      width: 33.33%; }
  .classic img {
    width: 96.3%;
    height: auto;
    margin-bottom: 8px; }
  .classic h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    font-style: italic;
    color: #AA0601; }

.co-branding {
  padding: 80px 0;
  background: url(../images/index-bg.png) center;
  background-size: cover; }
  .co-branding h2 {
    color: #fff; }
  .co-branding h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    font-style: italic;
    color: #AA0601; }
  .co-branding ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .co-branding ul li {
      width: 648px; }
  .co-branding img {
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover; }
  .co-branding .title {
    background: #fff;
    padding: 8px 0; }

.recommend {
  padding: 80px 0; }
  .recommend ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .recommend ul li {
      width: 25%;
      margin-right: 24px;
      border: 1px solid #DEE2E6;
      border-radius: 4px 4px 0 0;
      -webkit-box-shadow: 0 2px 6px #00000029;
              box-shadow: 0 2px 6px #00000029; }
      .recommend ul li:last-child {
        margin-right: 0; }
  .recommend img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }
  .recommend .text {
    height: 173px;
    text-align: left;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .recommend .name {
    padding-bottom: 8px;
    font-weight: 500; }
  .recommend .time-stamp p {
    font-size: 14px;
    line-height: 21px;
    color: #707070; }

.contact {
  padding: 80px 0;
  background: #FBF2F2; }
  .contact .container {
    width: 626px; }
  .contact .text {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .contact ul {
    margin-bottom: 48px; }
    .contact ul li {
      margin-bottom: 22px;
      text-align: left; }
      .contact ul li:last-child {
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
  .contact p {
    margin-left: 4px;
    line-height: 24px; }
  .contact h3 {
    line-height: 24px;
    margin-bottom: 8px; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 598px;
    line-height: 24px;
    padding: 6px 12px;
    background: #FBF2F2;
    border: 2px solid #000;
    outline: none;
    resize: none; }
    .contact input[type=text]:focus, .contact input[type=email]:focus, .contact textarea:focus {
      background: #fff; }
      .contact input[type=text]:focus::-webkit-input-placeholder, .contact input[type=email]:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::-moz-placeholder, .contact input[type=email]:focus::-moz-placeholder, .contact textarea:focus::-moz-placeholder {
        color: #fff; }
      .contact input[type=text]:focus:-ms-input-placeholder, .contact input[type=email]:focus:-ms-input-placeholder, .contact textarea:focus:-ms-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::-ms-input-placeholder, .contact input[type=email]:focus::-ms-input-placeholder, .contact textarea:focus::-ms-input-placeholder {
        color: #fff; }
      .contact input[type=text]:focus::placeholder, .contact input[type=email]:focus::placeholder, .contact textarea:focus::placeholder {
        color: #fff; }
  .contact input[type=submit] {
    border-radius: 0;
    border: none;
    padding: 16px 176px;
    background: #AA0601;
    line-height: 24px;
    color: #fff;
    cursor: pointer; }

@media (max-width: 1320px) {
  .survice, .co-branding, .recommend {
    padding: 80px 12px; } }

@media (max-width: 992px) {
  .classic h3 {
    font-size: 32px;
    line-height: 48px; } }

@media (max-width: 768px) {
  .banner {
    background: url(../images/home-header-sm.png) center;
    background-size: cover;
    height: 100vh; }
    .banner .content {
      margin-right: 37px; }
  .survice ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px; }
    .survice ul li {
      width: 45%;
      margin-right: 0; }
  .classic ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classic ul li {
      margin-bottom: 24px;
      width: 100%; }
  .classic h3 {
    font-size: 48px;
    line-height: 72px; }
  .co-branding {
    background: url(../images/index-bg-sm.png) center;
    background-size: cover; }
    .co-branding ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .co-branding ul li {
        width: 90%; }
        .co-branding ul li:first-child {
          margin-bottom: 24px; }
  .recommend ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .recommend ul li {
      margin-right: 0;
      width: 44%; }
  .contact .container {
    width: 75%; }
  .contact h2 {
    margin-bottom: 24px; }
  .contact h3 {
    margin-bottom: 14px; }
  .contact .text {
    font-size: 16px;
    line-height: 24px; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 95.2%; }
  .contact input[type=submit] {
    padding: 16px 23.6%; } }

@media (max-width: 710px) {
  .banner span {
    font-size: 22px; }
  .banner h1 {
    font-size: 50px; } }

@media (max-width: 376px) {
  .survice, .classic, .co-branding, .recommend, .contact {
    padding: 40px 0; }
  .banner {
    height: 396px;
    width: 100%;
    background: url(../images/home-header-sm.png) center;
    background-size: cover; }
    .banner .content {
      margin-right: 14px; }
    .banner span {
      font-size: 16px;
      line-height: 24px; }
    .banner h1 {
      font-size: 24px;
      line-height: 36px; }
  .survice {
    padding: 40px 12px; }
    .survice h2 {
      margin-bottom: 32.08px; }
    .survice ul li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32.33px; }
  .co-branding {
    background: url(../images/index-bg-md.png) center;
    background-size: cover; }
    .co-branding h2 {
      margin-bottom: 24px; }
  .recommend ul {
    gap: 16px; }
    .recommend ul li {
      width: 93.8%; }
  .contact .container {
    width: 93%; }
  .contact .text {
    font-size: 16px;
    line-height: 24px; }
  .contact ul li:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    width: 92%; }
  .contact input[type=submit] {
    padding: 16px 0;
    width: 100%; } }

.d-none {
  display: none; }

.frame-series .container {
  padding: 80px 12px 0; }

.frame-series .frame-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .frame-series .frame-bt li {
    width: 33.33333%;
    padding: 24px 0 16px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .frame-series .frame-bt li.active {
      border-bottom: 8px solid #AA0601; }
    .frame-series .frame-bt li:hover {
      background: #edecec; }

.frame-series a {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  font-weight: 500; }

.head-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .head-img li {
    width: 50%;
    height: 296px; }

.product-area {
  padding: 80px 0; }
  .product-area h3 {
    font-size: 42px;
    line-height: 63px;
    font-weight: 500; }
  .product-area span {
    font-size: 32px;
    line-height: 48px; }
  .product-area .products {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product-area .products .detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .product-area .products .detail .price {
        color: #AA0601;
        font-weight: 500; }
    .product-area .products p {
      font-size: 24px;
      line-height: 36px; }
    .product-area .products .colors {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .product-area .products .dark, .product-area .products .light {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
    .product-area .products .dark {
      background: #5F3E2D;
      margin-right: 8px; }
    .product-area .products .light {
      background: #B75929; }
  .product-area .page-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product-area .page-bt a {
      font-size: 19px;
      line-height: 29px;
      color: #555555; }
    .product-area .page-bt li {
      padding: 12px 16px;
      border: 1px solid #555555;
      border-left: none;
      cursor: pointer; }
      .product-area .page-bt li:first-child {
        border-left: 1px solid #555555; }
      .product-area .page-bt li:hover {
        background: #000; }
        .product-area .page-bt li:hover a {
          color: #fff; }
    .product-area .page-bt .previous-next {
      padding: 11px 12px; }
      .product-area .page-bt .previous-next:hover {
        background: #F2F2F2; }
        .product-area .page-bt .previous-next:hover a {
          color: #555555; }

.optical .head-img li:first-child {
  background: url(../images/product-header-1.png) center;
  background-size: cover; }

.optical .head-img li:last-child {
  background: url(../images/product-header-2.png) center;
  background-size: cover; }

.optical .products li {
  width: 23.18%;
  margin-right: 24px;
  margin-bottom: 80px;
  cursor: pointer; }
  .optical .products li:nth-child(4n+4) {
    margin-right: 0; }

.sunglasses .head-img li:first-child {
  background: url(../images/product-header-3.png) center;
  background-size: cover; }

.sunglasses .head-img li:last-child {
  background: url(../images/product-header-4.png) center;
  background-size: cover; }

.sunglasses .products li {
  width: 31%;
  margin-right: 24px;
  margin-bottom: 80px;
  cursor: pointer; }
  .sunglasses .products li:nth-child(3n+3) {
    margin-right: 0; }

@media (max-width: 1320px) {
  .frame-series .container {
    padding: 80px 0 0 0; } }

@media (max-width: 992px) {
  .product-area .products {
    gap: 0 12px; }
    .product-area .products li {
      margin-right: 0; }
    .product-area .products p {
      font-size: 18px;
      line-height: 30px; } }

@media (max-width: 768px) {
  .frame-series .frame-bt li {
    padding: 16px 0 8px; }
  .frame-series a {
    font-size: 24px;
    line-height: 36px; }
  .optical .head-img li {
    height: 296px; }
    .optical .head-img li:first-child {
      background: url(../images/product-header-sm-1.png) center;
      background-size: cover; }
    .optical .head-img li:last-child {
      background: url(../images/product-header-sm-2.png) center;
      background-size: cover; }
  .sunglasses .head-img li {
    height: 296px; }
    .sunglasses .head-img li:first-child {
      background: url(../images/product-header-sm-3.png) center;
      background-size: cover; }
    .sunglasses .head-img li:last-child {
      background: url(../images/product-header-sm-4.png) center;
      background-size: cover; }
  .product-area .products {
    gap: 0; }
    .product-area .products li {
      width: 43.75%;
      margin-right: 24px;
      margin-bottom: 40px; }
      .product-area .products li:nth-child(3n+3) {
        margin-right: 24px; }
      .product-area .products li:nth-child(2n+2) {
        margin-right: 0; }
    .product-area .products p {
      font-size: 24px;
      line-height: 36px; } }

@media (max-width: 710px) {
  .frame-series a {
    font-size: 20px; }
  .product-area .products p {
    font-size: 16px; }
  .product-area .page-bt a {
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 376px) {
  .frame-series a {
    font-size: 16px;
    line-height: 24px; }
  .optical .head-img li, .sunglasses .head-img li {
    height: 136px; }
  .product-area {
    padding: 40px 0 76px; }
    .product-area h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500; }
    .product-area span {
      font-size: 24px;
      line-height: 36px; }
    .product-area .products {
      margin-top: 24px; }
      .product-area .products li {
        width: 92.8%;
        margin-right: 0;
        margin-bottom: 24px; }
        .product-area .products li:nth-child(3n+3) {
          margin-right: 0; } }

.store-page {
  text-align: left;
  margin-top: 80px;
  padding: 96px 0 80px; }
  .store-page h2 {
    color: #000;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 32px; }
  .store-page h3 {
    font-size: 24px;
    line-height: 36px;
    padding: 8px 24px;
    border: 1px solid #00000020; }
  .store-page span {
    font-size: 18px;
    margin-right: 11px;
    padding-top: 5px; }
  .store-page p {
    font-size: 20px;
    line-height: 30px; }
  .store-page form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
  .store-page label {
    font-size: 24px;
    line-height: 36px;
    margin-right: 16px; }
  .store-page select {
    border: 1px solid #CED4DA;
    background: none;
    font-size: 18px;
    line-height: 26px;
    color: #495057;
    font-weight: 400;
    padding: 6px 0;
    padding-left: 12px;
    width: 304px;
    cursor: pointer; }
    .store-page select option {
      background: #fff; }
  .store-page .stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .store-page .store {
    width: 32%;
    margin-right: 24px;
    margin-bottom: 48px; }
    .store-page .store:nth-child(3) {
      margin-right: 0; }
    .store-page .store:nth-child(4), .store-page .store:nth-child(5) {
      margin-bottom: 0; }
  .store-page .detail {
    border: 1px solid #00000020;
    padding: 16px 27px; }
    .store-page .detail li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 8px; }
  .store-page .more-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .store-page .more-bt a {
      background: #000;
      color: #fff;
      padding: 16px 0;
      width: 100%; }
      .store-page .more-bt a:hover {
        background: #bcbcbc;
        color: #000; }
  .store-page .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .store-page .map .content {
      width: 40.58%;
      margin-right: 24px; }
    .store-page .map .store {
      width: 100%;
      margin-bottom: 0; }
    .store-page .map iframe {
      width: 57.56%;
      height: auto; }

@media (max-width: 1320px) {
  .store-page {
    padding: 96px 12px 80px; }
    .store-page .store {
      width: 31%;
      margin-right: 24px; } }

@media (max-width: 992px) {
  .store-page {
    padding: 80px 12px 36px; }
    .store-page .store {
      width: 48.3%;
      margin-bottom: 24px; }
      .store-page .store:nth-child(3) {
        margin-right: 24px; }
      .store-page .store:nth-child(even) {
        margin-right: 0; }
      .store-page .store:nth-child(4) {
        margin-bottom: 24px; } }

@media (max-width: 768px) {
  .store-page .store {
    width: 47%; }
  .store-page .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .store-page .map .content {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .store-page .map img {
      width: 48.4%;
      -o-object-fit: cover;
         object-fit: cover; }
    .store-page .map .store {
      width: 48.4%; }
    .store-page .map iframe {
      width: 100%;
      height: 414px; } }

@media (max-width: 710px) {
  .store-page h3 {
    font-size: 16px;
    line-height: 28px;
    padding: 6px 16px; }
  .store-page p {
    font-size: 14px;
    line-height: 24px; }
  .store-page .store {
    width: 45%; }
  .store-page label {
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px; }
  .store-page select {
    width: 276px; }
  .store-page .detail {
    padding: 16px 12px; } }

@media (max-width: 376px) {
  .store-page {
    padding: 40px 13px 64px; }
    .store-page h2 {
      margin-bottom: 24px; }
    .store-page h3 {
      font-size: 24px;
      line-height: 36px;
      padding: 8px 24px; }
    .store-page p {
      font-size: 20px;
      line-height: 30px; }
    .store-page .store {
      width: 100%;
      margin-bottom: 24px;
      margin-right: 0; }
      .store-page .store:nth-child(3) {
        margin-right: 0; }
    .store-page form {
      margin-bottom: 24px; }
    .store-page .detail {
      padding: 16px 27px; }
    .store-page .map .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .store-page .map img {
      width: 100%; }
    .store-page .map .store {
      width: 100%; }
    .store-page .map iframe {
      height: 208px; } }

/*# sourceMappingURL=all.css.map */
